* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
*::-webkit-input-placeholder {
    color: #c0c0c0;
    opacity: 1;
}
*:-moz-placeholder {
    color: #c0c0c0;
    opacity: 1;
}
*::-moz-placeholder {
    color: #c0c0c0;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:focus:invalid {
    color: #000;
}

body input:required:valid,
body textarea:required:valid {
    color: #000;
}

html, body {
    height: 100%;
}

body {
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.65;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;

    opacity: 1;
}
.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
}
.container {
    padding: 10px 0;
    margin: 0 10em 0 10em;
}
header {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}
.main-menu-items {
    display: inline;

}
.mm-items {
    display: -ms-flexbox;
}
.main-menu-items li {
    display: inline;
    float: right;
}